.nav li {
  margin-right: 15px;
  float: left;
}

#author-style, #date-style {
  float: right;
  font-size: 14px;
}

#content {
  width: 100%;
  max-width: 100%;
  height: 100px;
}

#blog-link:hover {
  text-decoration: none;
}

#blog-link {
  color: inherit;
}
