.nav li {
  margin-right: 15px;
  float: left;
}

#author-style, #date-style {
  float: right;
  font-size: 14px;
}

#content {
  width: 100%;
  max-width: 100%;
  height: 100px;
}

.blog-link:hover {
  text-decoration: none;
  color: inherit;
}

.blog-link {
  color: inherit;
}

#update-button {
  float: right;
}

#delete-button {
  float: right;
  margin-left: 4px;
}
