<div class="container">
  <div class="jumbotron">
    <h1>Blog Blog</h1>
    <ul class="nav">
      <li>{{#link-to 'index'}}Home{{/link-to}}</li>
      <li>{{#link-to 'about'}}About{{/link-to}}</li>
      <li>{{#link-to 'contact'}}Contact{{/link-to}}</li>
    </ul>
  </div>
  {{outlet}}
</div>
